* {
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #fff;
    color: #0f1e23;
}



#background-img {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("gradient-abstract-background-with-different-shapes_23-2149110297.webp");
    background-size: cover;
    background-position: center;
}

#text{
    display: flex;
    padding: 0px 200px;
    color:#fff;
    font-size: large;
    text-align: right;
    justify-content: space-between;
}


#text h1 {
    font-size: 45px;
    font-weight: 500; 
}


#column2 {
    padding: 190px 0px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    
}

#upload {
    padding: 60px 0px;
}



.box {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex-wrap: nowrap;
    background: rgba(33,37,41, 0.75);
    border-radius: 10px;
    width: 500px;
    height:550px;
    padding: 40px 40px;
    background: transparent;
}




.text-gradient{
    background-image: linear-gradient(90deg, #ffcda5, #fdc377, #e841e4, #fdc377, #fdc377);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    line-height: 45px ;
}

.size {
    font-size: 40px;
}



.color{
    background-image: linear-gradient(90deg, #00DDEB, #e841e4 10%, #00DDEB);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    font-size: 70px;
}

#text p{
    padding: 10px 0px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

button {
    padding: 10px 20px;
    
}

.text-end{
    margin-right: 90px;
}

.buysell{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: end;
    
}



.center {
    text-align: center;
}

footer {
    text-align: center;
    background-color: rgba(33,37,41);
    color: #fff;
    padding: 10px 0;
}



button {
  align-items: right;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}


button:hover,
button:active {
  
  background: transparent;
  border: 2px solid white;
}

.outline {
  
  background: transparent;
  border: 2px solid white;
}

.outline:hover,
.outline:active {
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
  }


@media (min-width: 768px) {
  button {
    font-size: 24px;
    min-width: 196px;
  }
}